.list-user-container {
    .list-user-content {
        .child {
            width: 400px;
            margin: 0 auto;
            padding-top: 15px;
            height: 40px;
            border: 1px solid grey;
            font-weight: bold;
        }
    }
}